[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/MAhsenArif
[access "refs/for/refs/*"]
	read = group user/MAhsenArif
	push = group user/MAhsenArif
	label-Code-Review = -2..+2 group user/MAhsenArif
	label-Verified = -1..+1 group user/MAhsenArif
	rebase = group user/MAhsenArif
	removeReviewer = group user/MAhsenArif
	submit = group user/MAhsenArif
[access "refs/heads/*"]
	read = group user/MAhsenArif
	create = group user/MAhsenArif
	push = +force group user/MAhsenArif
	pushMerge = group user/MAhsenArif
[access "refs/tags/*"]
	push = group user/MAhsenArif
	push = +force group user/MAhsenArif
